.header {
    width: 100%;
    height: 112px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--content-bg);
    border: 2px solid var(--light-stroke-3);
    position: sticky;
    gap: auto;
    top: 0;
    left: 0;
    z-index: 10;
    padding: 12px 60px;
}

.left__nav {
    display: flex;
    gap: 24px;
}

.nav_item {
    display: flex;
}

.nav__expand {
    display: block;
}

.expand_list {
    top: 100px;
    left: 0px;
    display: none;
}


.list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* padding: 12px 24px; */
    display: flex;
    flex-direction: row;
    align-items: center;
}

.list_label {
    background: var(--gradient-blue-red);
    color: var(--light-text);
    width: fit-content;
    padding: 4px 12px;
    border-radius: 8px;
}

.search__container {
    width: auto;
}

.right__nav {
    /* width: 100%; */
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 32px;
    text-transform: capitalize;
}

.documentation {
    width: 100%;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 32px;
}

.nav {
    display: inline;
}

.user__transform {
    display: flex;
    gap: 32px;
}

#submit {
    background: var(--secondary);
    width: 100%;
    height: fit-content;
    padding: 12px 24px;
    border: none;
    outline: none;
    border-radius: 8px;
    font-size: 18px;
}


/* Hero Section */

.hero {
    position: relative;
    text-align: center;
    color: #fff;
}
.hero_thumb{
    width: 100%;
}
.hero-title{
    position: absolute;
    top: -50;
    left: 0;
    transform: translate(-50);
}

.hero_thumb {
    background-position: absolute;
    width: 100%;
}

video {
    width: 623px;
    height: 368px;
    flex-shrink: 0;

}


.footer_link_list {
    font-size: 32px;
}

.footer_item {
    font-size: 24px;
}